<ion-header class="ion-no-border">
  <ion-toolbar style="--background: black; padding: 13px; color: white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video
    id="video"
    style="width: 100%; height: 300px"
    controls
    autoplay
    controlsList="nodownload"
    disablePictureInPicture
  >
    <source [src]="data.trailerLink" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div style="padding: 19px">
    <h1>{{data.name}}</h1>
    <h4>Year : {{data.year}} Watch Time: {{data.watchtime}}</h4>
    <!-- <button>Play</button> -->
    <p>{{data.discrption}}</p>
  </div>
</ion-content>
